@{
    ViewBag.Title = "Admin";
}
<ul class="breadcrumb">
    <li><a href="#" class="glyphicons home"><i></i>Home</a></li>
</ul>
<div class="separator bottom">
</div>
<div class="innerLR">
    <div class="widget">
        <div class="widget-head">
             <h3 class="heading glyphicons notes">
                <i></i>Information</h3>
        </div>
        <div class="widget-body">
            Hello, this is the admin dashboard. In this dashboard, you can manage the account,
            manage the images of students, and configure system.
        </div>
    </div>
   
</div>

