@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<script language="javascript">
    function a(number) {
        if (document.getElementById(number).value == "Active") {
            var result = confirm("Are you sure want to change to : Inactive ?");
            if (result) {
                document.getElementById(number).value = "Inactive";
                document.getElementById(number).className = "btn btn-warning";
            }
        } else if (document.getElementById(number).value == "Inactive") {
            var result1 = confirm("Are you sure want to change to : Active ?");
            if (result1) {
                document.getElementById(number).value = "Active";
                document.getElementById(number).className = "btn btn-primary";
            }
        }
    }
</script>
<ul class="nav nav-tabs">
    <li class="active"><a style="color: #404a65;" href="#classlist" data-toggle="tab">Class
        List</a></li>
    <li><a style="color: #404a65;" href="#newclass" data-toggle="tab">New Class</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane tab-pane-content active" id="classlist">
        <h3>
            Class List</h3>
    </div>
    <div class="tab-pane tab-pane-content" id="newclass">
        <div>
            <!-- Form -->
            <form class="form-horizontal" id="new-class-form">
            <h3>
                New Class</h3>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="specialized">
                        Specialized</label>
                    <div class="controls">
                        <select id="class" name="class" class="input-small" style="width: 200px;">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="name">
                        Class Name( <a style="color: Red;">*</a> )</label>
                    <div class="controls">
                        <input id="txtName" name="name" type="text" placeholder="" style="width: 200px;"
                            class="input-xlarge">
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary" id="addStudent">
                        Add</button>
                    <button type="reset" class="btn" id='btnResetStudent'>
                        Cancel</button>
                </div>
            </fieldset>
            </form>
        </div>
        @using (Html.BeginForm("ImportExcelFileToDatabase", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
        { 
            <div class="fileupload">
                <input type="file" id="FileUpload" name="FileUpload" required data-val="true" data-val-required="please select a file" />
            </div>
            <input type="submit" id="Submit" class="btn btn-primary" value="Upload" title="Click to upload file" />
        }
    </div>
</div>
@*modal detail*@
<div id="example" class="modal hide fade in" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Student List</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Student ID
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Pham Huy Hoang
                    </td>
                    <td>
                        HoangPH
                    </td>
                    <td>
                        <a href="#">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Nguyen Thanh Binh
                    </td>
                    <td>
                        BinhNT
                    </td>
                    <td>
                        <a href="#">Remove</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Nguyen Quoc Huy
                    </td>
                    <td>
                        HuyNQ
                    </td>
                    <td>
                        <a href="#">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
        Add student :
        <input type="text" id="autocomplete" data-provide="typeahead" data-items="4" />
        <br />
        <input type="button" class="btn btn-primary" value="Add" style="margin-left: 90px;"></input>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">
                Ok</button>
            <button type="button" data-dismiss="modal" class="btn">
                Close</button>
        </div>
    </div>
</div>
