*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: White;
    //background-image:url("./themes/base/images/bg5.jpg");
    //background-image:url("./themes/base/images/bg3.jpg");
   //background-image:url("./themes/base/images/bg4.jpg");
    background-image:url("./themes/base/images/bg2_1.jpg");
    //opacity: 0.5;
    /*background-repeat:repeat-y; */
}
#wrapper
{
    width: 1080px;
    margin: 0 auto;
}

#after_top {
    background-color:#ffffff;
    width: 1080px;
    //height:160px;
    height:120px;
    margin-top: 0.3%;
    margin-left:3.9%;
    opacity:0.8;
    //padding-top: 100px;
}
#bannerwrap {
  //  width: 1349px;
    //height: 155px;
    //background-color: #232323;
    //margin-left: -7.7%;
    //opacity:0.9;
}
#banner
{
    width: 1077px;
    height: 100px;
    background-image: url("./themes/base/images/banner3.jpg");
    background-repeat:no-repeat;    
    margin-left:4%;
    margin-top:5px;
    border:solid;
    border-color: #000000;
    border-width:1px;
    border-radius:3px;
    opacity:1.0;
}

#content_area
{
    float: right;
    width: 785px;
    margin: 5px 45px 20px 0;
    padding: 10px 15px 10px 15px;
    box-shadow: 2px 2px 10px #666666;
    background-image:url("./themes/base/images/contentx.png");
    background-repeat:repeat;
    border:solid;
    border-color: #dadada;
    border-width:1px;
    border-radius:5px;
    //background-color: #FFFFFF;
    //opacity:0.8;
}

#sidebar
{
    float: left;
    width: 230px;
    height: 300px;
    margin: 5px 0 20px 45px;
    padding: 30px 10px 0 10px;
    position: relative;
    background-image:url("./themes/base/images/sidebar.png");
    box-shadow: 2px 2px 10px gray;
    border:solid;
    border-color: #dadada;
    border-width:1px;
    border-radius:5px;
    //background-color: #FFFFFF;
    //opacity:0.9;
}
#footer
{
    clear: both;
    width: 1349px;
    height: 120px;
    text-align: center;
    background-color: #232323;
    padding-top:30px;
    margin-left:-7.7%;
    opacity:0.9;
}

#logo
{
    float: left;
    width: 1080px;
    height: auto;
    margin-left: 1%;
    margin-top: 1%;
}
#image
{
    margin-left: 5%;
    margin-top: 1%;
    width: 150px;
    height: 90px;
    background-image: url("./themes/base/images/logo_red.png");
    background-repeat: no-repeat;
}
#name {
    margin-left: 15%;
    margin-top: 1%;
    width:480px;
    height:100px;
    background-image: url("./themes/base/images/name.png");
    background-repeat: no-repeat;
}
#fpt {
 //   margin-top: -1%;
 //   width:200px;
 //   height:170px;
  //  background-image: url("./themes/base/images/fpt.png");
  //  background-repeat: no-repeat;
}
#menu_top
{
    color: White;
    height: 40px;
    width: 1040px;
    background-color: #232323;
    padding: 10px 20px 0 20px;
}
#menu_top a, #menu_top2 a, #menu_top2 li
{
    color: White;
}
#menu_top a:hover, #menu_top2 a:hover
{
    color: White;
}

#menu_top2 a
{
    
    padding: -25px 20px 11px 20px;
}

#menu_top2
{
    height: 35px;
    //background-color: #52854c;
    background-color: #232323;
    margin: 5px 0 5px 630px;
    width: 495px;
    opacity:1.0;
}


#menu_top2 li
{
    //margin: -8px 0 0 7px;
    margin: 0px 0 0 7px;
}
#1
{
    background-color: black;
}
#footer_image
{
    float: left;
    width: 500px;
    height: 100px;
    text-align: right;
    padding-right: 20px;
    margin: 10px 0 0 0;
}
#footer_contact
{
    float: left;
    height: 80px;
    width: 250px;
    margin: 10px 0 10px 0;
    border-left: 2px solid white;
    border-radius: 0;
    text-align: right;
    padding-right: 20px;
}

#footer_link
{
    text-align: right;
    float: left;
    height: 80px;
    width: 230px;
    margin: 10px 0 0 10px;
    border-left: 2px solid white;
    border-radius: 0;
}
#nav ul
{
    list-style: none;
    margin: 0;
    opacity:1.0;
}

#nav li
{
    font-family: 'Helvetica' , Arial, Verdana, sans serif;
    opacity:1.0;
}

#nav li a:link, #nav li a:visited
{
    font-size: 15px;
    display: block;
    padding: 15px 0 20px 45px;
    margin-top: -10px;
    color: #fff;
    text-decoration: none;
    right: 11px;
}

#nav li a.current
{
    background: url("./themes/base/images/nav3.png") no-repeat;
    opacity:1.0;
    background-position: -232px 0;
    color: #fff;
    left: -6px;
    padding: 15px 18px 20px 40px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 18px;
    
}
#nav li a:hover
{
    background: url("./themes/base/images/nav3.png") no-repeat;
    background-position: -232px 0;
    color: #fff;
    left: -6px;
    padding: 15px 18px 20px 40px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 18px;
}
#nav li
{
    background: url("./themes/base/images/nav2.png") no-repeat;
    //color: #fff;
    font-weight: bold;
}
input[type="text"] 
{
    margin-bottom: 0;
}

#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: auto;
}
#cssmenu ul {
  //background: #333333;
  height: 35px;
  width: 300px;
  list-style: none;
  margin-left: 85%;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  //background: #333333 url('seperator.png') bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding: 0px 25px;
  text-align: left;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #cccccc;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #52854c url('hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #232323;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 176px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('sub_sep.png') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: auto;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
    //color: black;
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #52854c url('hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}
