*
{
    margin: 0;
    padding: 0;
    
}
body
{
    background-color: #e5e5e5;
}
#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    border-shadow: 0 2px 0 2px black;
}

#banner
{
    height: 200px;
    background-color: rgb(49, 52, 58);
    background-image: url("./themes/base/images/banner2.jpg");
}

#content_area
{
    float: right;
    width: 820px;
    margin: 5px 0 20px 0;
    padding: 10px 0 10px 30px;
    background-color: white;
}

#sidebar
{
    float: left;
    width: 200px;
    height: 400px;
    margin: 5px 0 20px 0px;
    padding: 10px;
    background-color: white;
    position: relative;
    border:1px solid gray;
}
#footer
{
    clear: both;
    width: auto;
    height: 100px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #194f1e;
}

#logo
{
    float: left;
    width: 400px;
    height: 70px;
    margin: 5px 0 5px 0;
}
#image
{
    width: 100px;
    height: 70px;
    background-image: url("./themes/base/images/logo.png");
    background-repeat: no-repeat;
}
#menu_top
{
    color: White;
    height: 40px;
    width: 1040px;
    background-color: #232323;
    padding: 10px 20px 0 20px;
}
#menu_top a, #menu_top2 a, #menu_top2 li
{
    color: White;
}
#menu_top a:hover, #menu_top2 a:hover
{
    color: Black;
}

#menu_top2 a
{
    padding: 10px 20px 11px 20px;
}
#user
{
    margin-left: 80%;
    margin-top: 5px;
}
#menu_top2
{
    padding: 2px 0 0 20px;
    height: 40px;
    background-color: #194f1e;
    margin: 40px 0 5px 420px;
    width: 640px;
}
#menu_top2 li
{
    margin: 0 0 0 10px;
}
#1
{
    background-color: black;
}
div.fileupload
{
    width: 157px;
    height: 57px;
    background: url(https://lh6.googleusercontent.com/-dqTIJRTqEAQ/UJaofTQm3hI/AAAAAAAABHo/w7ruR1SOIsA/s157/upload.png);
    overflow: hidden;
}

div.fileupload input[type="file"]
{
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
#footer_image
{
    float: left;
    width: 500px;
    height: 100px;
    text-align: right;
    padding-right: 20px;
    margin: 10px 0 0 0;
}
#footer_contact
{
    float: left;
    height: 80px;
    width: 250px;
    margin: 10px 0 10px 0;
    border-left: 2px solid white;
    border-radius: 0;
    text-align: right;
    padding-right: 20px;
}

#footer_link
{
    text-align: right;
    float: left;
    height: 80px;
    width: 230px;
    margin: 10px 0 0 10px;
    border-left: 2px solid white;
    border-radius: 0;
}

#nav ul {
	list-style: none;
	margin: 0;
}

#nav li{
	font-family: 'Helvetica', Arial, Verdana, sans serif;
}

#nav li a:link, #nav li a:visited {
	font-size: 15px;
	display: block;
	padding: 19px 45px 19px 45px;
	margin-top:-10px;
	color: #43433e;
	text-decoration: none;
	right:11px;
}

#nav li a:hover, #nav li a:focus {
	background: url("./themes/base/images/nav.png") no-repeat;
	background-position: -232px 0;
	color: #fff;
	left:-6px;
	padding:19px 18px 19px 40px;
	margin-top:-10px;
}
#nav #a
{
    background: url("./themes/base/images/nav.png") no-repeat;
}
body #homenav,
body #aboutnav,
body #shopnav,
body #blognav,
body #downloadsnav,
body #helpnav,
body #contactnav {
	background: url("./themes/base/images/nav.png") no-repeat;
	color: #fff;
	left:-6px;
	padding:18px 18px 18px 40px;
	width:174px;
}
