@model IEnumerable<RollSystemMobile.Models.Student>
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel">
        Student List</h3>
</div>
<div class="modal-body" id='modal-body'>
<b style="margin-left: 5px;">Class: </b>@ViewBag.Class <br />
 <b style="margin-left: 5px;">Total Student: </b>@Model.Count() <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="margin-top:10px">
            <thead>
                <tr>
                     <th style="width: 30px; background-color: #70ad47; color: #ffffff">
                        No.
                    </th>
                     <th style="width: 30px; background-color: #70ad47; color: #ffffff">
                        Student Code
                    </th>
                     <th style="width: 30px; background-color: #70ad47; color: #ffffff">
                        Full Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ int index = 1;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-right">
                            @index
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                    </tr>
                    { index++; }
                }
            </tbody>
        </table>
    
    }
    else
    {
        <p>
            This class has no student</p>
    }
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Close</button>
</div>
