@model IEnumerable<RollSystemMobile.Models.Student>

@{
    ViewBag.Title = "EditStudentlist";
    Layout = "~/Views/Staff/_Layout.cshtml";
}

<h2>Student List</h2>
@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-right"style="width:50px;">
                    No.
                </th>
                <th  style="width:150px;">
                    Student Code
                </th>
                <th style="width:500px;">
                    Full Name
                </th>
                <th>
                   
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right" >
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "EditStudentlist", new {ClassID =item.ClassID , StudentID= item.StudentID})
                    </td>
                </tr>
                   { index++; }
            }
        </tbody>
    </table>
    
}
else
{
    <p>
        This class has no student</p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>