@model IEnumerable<RollSystemMobile.Models.Student>
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Staff/_Layout.cshtml";
}
<h2>
    Student List</h2>
@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped" id="example">
        <thead>
            <tr>
                <th class="text-right" style="width: 50px;">
                    No.
                </th>
                <th style="width: 150px;">
                    Student Code
                </th>
                <th style="width: 500px;">
                    Full Name
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
                   { index++; }
            }
        </tbody>
        <b style="margin-left: 5px;">Toltal Student: </b>@Model.Count()
    </table>
    
}
else
{
    <p>
        This class has no student</p>
}
<script>
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span4'l><'span4'f>r>t<'row'<'span4'i><'span4'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ records per page"
            },
            "aoColumnDefs": [{ 'bSortable': false, 'aTargets': []}]
        });
    });
</script>
